
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>以后新进的GC和WP的业务就分配给马张静。魏娟和张潇宇，麻烦把雷甜甜的名字去掉吧</h5>


<h5>把雷甜甜以前的Paypal，GC和WP都分到张潇宇名字底下</h5>

<h5>把汪欢欢以前的Paypal，GC和WP都分到魏娟名字底下</h5>

