################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FS.CodeBuilder/App.config
/FS.Crawler/App.config
*.config
/.vs/FS.net/v15
