@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>



@helper ShowProduct(List<int> products, string style)
{
    foreach (var product in products)
    {
       @Html.Raw( product)
    }
}

@ShowProduct(new List<int>() { 1,2,3,4,5}, "list-group-item-info")
