@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>比赛</h2>
        <p>
           获取比赛数据
        </p>
        <p><a class="btn btn-default" target="_blank" href="http://en.www.cofool.com/stock/simulate/index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>排名</h2>
        <p>获取比赛前几名</p>
        <p><a class="btn btn-default" target="_blank" href="http://en.www.cofool.com/Stock/Simulate/Top">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User当前持仓</h2>
        <p>当前持仓</p>
        <p><a class="btn btn-default"  target="_blank" href="http://en.www.cofool.com/Stock/Simulate/Shares">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User参数</h2>
        <p>获取用户参数</p>
        <p><a class="btn btn-default" target="_blank" href="http://en.www.cofool.com/Stock/Simulate/UserMatchInfo">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User所有持仓</h2>
        <p>所有持仓</p>
        <p><a class="btn btn-default" target="_blank" href="http://en.www.cofool.com/Stock/Simulate/AllShares">Learn more &raquo;</a></p>
    </div>
    <br/>
    <hr/>
    <div class="col-md-4">
        <h2>汇总</h2>
        <p>股票汇总</p>
        <p><a class="btn btn-default" target="_blank" href="http://en.www.cofool.com/Stock/Collect/Index">Learn more &raquo;</a></p>
    </div>
</div>