
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Stock/JS/MyselfStock.js"></script>
<h2>Index</h2>
<input type="hidden" id="pageIndex" value="@ViewBag.NextPageIndex"/>
<input type="hidden" id="categoryID" value="@ViewBag.CategoryID" />